#title {
    color: red;
    font-weight: bold;
}

#time {
    color: green;
    font-weight: bold;
}

div {
    text-align: center;
}

body {
    background-color: rgb(169, 253, 169);
}

img {
    width: 50%;
}